html {
    background-color: rgb(0, 0, 0);
    background-image: url("../images/background.png");
    /* background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; */
  }

  body {
    color: rgb(0, 0, 0);
  }

  @font-face {
    font-family: 'IBM Plex'; /* Specify the name of the custom font */
    src: url('../fonts/IBMPlexMono-Regular.ttf') format('truetype'); /* Specify the path to the font file */
}

  .simpleheader{
    font-family: 'IBM Plex', monospace;
    font-size: 200%;
    text-align: center;
    color: yellow;
    margin-top: 10%;
  }

  .simpleheader-smaller{
    font-family: 'IBM Plex', monospace;
    font-size: 125%;
    text-align: center;
    color: yellow;
    margin-top: 5%;
  }

  .main-background{
    background-image: url(../images/background5.JPG);
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
  }

  h1 {
    position: absolute;
    color: yellow;
    text-align: center;
    transform: translate(275px,-250px);
    padding-right: 15%;
    font-size: 300%;
    word-wrap: break-word;
  }

  h2 {
    position: absolute;
    text-align: center;
    transform: translate(0px,-150px);
    padding-left: 20%;
    padding-bottom: 20%;
    position: right;
    word-wrap: break-word;
  }

  h3 {
    color: yellow;
    transform: translate(0px,650px);
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
  }

  h4 {
    color: yellow;
    text-align: left;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
  }

  h5 {
    color: yellow;
    text-align: left;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
  }

  h6 {
    color: yellow;
    text-align: center;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    transform: translate(0px,-30px);
  }
  
  p {
    color: yellow;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
  }

  a {
    text-decoration: none;
  }

  .container {
    max-width: 800px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.retro-category {
    position: relative;
    overflow: hidden;
    border: 2px solid yellow; /* Primitive border */
    padding: 15px; /* Padding for content */
    display: block; /* Ensure anchor takes up full space */
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color */
}

.retro-category:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent white */
    z-index: 1;
    pointer-events: none;
}

.category-text{
  font-family: 'IBM Plex', monospace;
  color: yellow;
}

.category-text p{
  font-family: 'IBM Plex', monospace;
  color: yellow;
}

.indexheader {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 300px;
  margin-top: -75px;
  margin-bottom: -50px;
}

.indexheader img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 75%;
}

.image-container {
  position: relative;
  display: inline-block; /* Ensure it does not take the full width */
  width: fit-content; /* Adjust as needed */
}

.under-image {
  display: block;
  width: 100%;
  height: auto; /* Ensure the image maintains its aspect ratio */
}

.over-image {
  position: absolute;
  top: 225px;
  left: 225px;
  width: 150px; /* Adjust as needed */
  height: 150px; /* Adjust as needed */
  z-index: 1; /* Ensure the overlay image appears on top */
}

.indexbutton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.indexbutton a {
  margin: -50px 50px;
  text-decoration: none;
}

.indexbutton div {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0px, 50px);
}

.indexbutton img {
  max-height: 750px;
}

  .artbar-s{
    border: ridge;
    border-color: darkcyan;
    border-width: 10px;
    background-image: url(../images/background7.JPG);
    contain: size;
    transform: translate(95px,-20px);
    max-width: 650px;
    max-height: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    font-family: Lucida Console;
  }

  .artbar-s-3d, .artbar-s-2d {
    position: relative; /* Set the container as a reference for absolute positioning */
    display: inline-block; /* Display as an inline block */
    width: 300px; /* Set a fixed width for both containers */
    height: 300px; /* Set a fixed height for both containers */
    overflow: hidden; /* Hide overflowing content */
    margin-right: 20px; /* Add some space between the containers */
    text-align: center; /* Center the content horizontally */
}


  .artbar-s-3d img, .artbar-s-2d img {
    width: 100%; /* Make the image fill its container */
    height: 100%; /* Make the image fill its container */
    object-fit: cover; /* Ensure the image covers the container */
    transition: transform 0.5s ease; /* Add transition effect */
  }

  .artbar-s-3d-text, .artbar-s-2d-text {
    font-family: 'Courier New', Courier, monospace;
    position: absolute; /* Position the text relative to its container */
    bottom: 10px; /* Position it near the bottom */
    left: 50%; /* Position it horizontally centered */
    transform: translateX(-50%); /* Center it horizontally */
    color: yellow; /* Text color */
    font-size: 24px; /* Font size */
    font-weight: bold; /* Font weight */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline from links */
    z-index: 1; /* Ensure the text appears above the image */
    opacity: 1; /* Make the text always visible */
  }

  .artbar-s-3d:hover .artbar-s-3d-text, .artbar-s-2d:hover .artbar-s-2d-text {
    opacity: 1; /* Hide the text on hover */
  }

  .artbar-s-3d:hover img, .artbar-s-2d:hover img {
    transform: scale(1.1); /* Scale up the image on hover */
  }

  .artbar{
    border: ridge;
    border-color: darkcyan;
    border-width: 10px;
    background-image: url(../images/background7.JPG);
    contain: size;
    transform: translate(180px,-20px);
    max-width: 800px;
    max-height: 1250px;
    height: 1250px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    font-family: Lucida Console;
  }

  .middlebar{
    border: ridge;
    border-color: darkcyan;
    border-width: 10px;
    background-image: url(../images/background4.JPG);
    contain: size;
    transform: translate(0px,-20px);
    max-width: 460px;
    max-height: 230px;
    height: 230px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    font-family: Lucida Console;
  }

  .middlebar-2{
    border: ridge;
    border-color: darkcyan;
    border-width: 10px;
    background-image: url(../images/background6.JPG);
    contain: size;
    transform: translate(0px,-6px);
    max-width: 460px;
    max-height: 230px;
    height: 230px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    font-family: Lucida Console;
  }

  .middlebar-3 {
    border: ridge;
    border-color: darkcyan;
    border-width: 10px;
    background-image: url(../images/background6.JPG);
    transform: translate(170px, -20px);
    max-width: 800px;
    max-height: 800px;
    height: auto; /* Adjust height to auto so it expands based on content */
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    font-family: Lucida Console;
    overflow-y: auto; /* Enable vertical scrolling */
  }
  
  .middlebar-3 img {
    display: block; /* Ensure images are displayed as block elements */
    max-width: 100%; /* Ensure images resize to fit container width */
    height: auto; /* Allow images to maintain aspect ratio */
    margin-bottom: 10px; /* Add some spacing between images */
    position: relative;
  }

  .middlebar-3 p {
    font-size: 20px;
    color: yellow; /* Adjust the color as needed */
    text-align: center;
    margin-bottom: 20px; /* Adjust spacing between images and descriptions */
  }

  .twodartlogo{
    text-align: center;
    padding: 20px;
  }
  
  td{
    border: 1px dotted darkorchid;
    color: yellow;
    font-size: 15px;
    padding: 0.5rem;
    font-family: 'Courier New', Courier, monospace;
  }

  table {
    border-spacing: 0rem;
  }

  .sidebar{
    border: ridge;
    border-color: darkcyan;
    border-width: 10px;
    contain: size;
    background: darkcyan;
    background-image: url("../images/background3.jpg");
    transform: translate(-350px,250px);
    max-width: 150px;
    max-height: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
  }

  .rightbar{
    border: ridge;
    border-color: darkcyan;
    border-width: 10px;
    contain: size;
    background: black;
    transform: translate(350px,-560px);
    max-width: 150px;
    max-height: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
  }

  .rightbar-i{
    transform: translate(0px, -52px);
    position: absolute;
  }

  .navlink a{
    font-family: Lucida Console;
    color: yellow;
    padding-left: 10px;
    text-align: left;
    line-height: 45px;
    font-size: 20px;
    display: block;
  }

  .navlink a:hover{
    color: orangered;
  }
  
  .rectangle {
    position: absolute;
    top: 500px;
    left: 50%;
    transform: translate(-260px, -425px);
    background: darkcyan;
    background-image: url("../images/background2.png");
    max-width: 500px;
    width: 500px;
    max-height: 150px;
    height: 150px;
    border: ridge;
    border-color: darkcyan;
    border-width: 10px;
    contain: size;
  }

  .rectangle2 {
    position: absolute;
    top: 500px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000000;
    max-width: 500px;
    width: 500px;
    max-height: 250px;
    height: 250px;
    border: ridge;
    border-color: #ffff80;
    border-width: 10px;
    contain: size;
  }
  .rectangle2, fadeH3 {
    transition: opacity 1s ease;
    opacity: 1;
  }
  .fade-out {
    opacity: 0;
  }

  .fade-in {
    opacity: 1;
  }

  .welcome {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .stop {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 100%;
  }

  .door{
    position: absolute;
    transform: translate(-50%, 10%);
    top: 15%;
    left: 50%;
    max-width: 100%;
  }

  #doorgif{
    display: none;
  }

 .construction{
  text-align: center;
 }

 .construction img{
  width: 150px;
  z-index:-1;
  margin-left: auto;
  margin-right: auto;
 }

 .miniseb{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  transform: translate(-15px,50px);
 }
 
 .header {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.gallery-item {
  position: relative;
  border: ridge;
  border-color: darkcyan;
  border-width: 10px;
  background-color: rgb(0, 139, 139);
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.gallery-more {
  position: absolute;
  border: ridge;
  border-color: darkcyan;
  border-width: 10px;
  background-color: rgb(0, 139, 139);
  width: 150px;
  height: 75px;
  overflow: hidden;
  transform: translate(0px, -175px);
}

.gallery-link {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: visible;
}

.gallery-link-spec {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: visible;
}

.gallery-link-spec:hover .gallery-caption-lower{
  opacity: 1;
}

.gallery-caption-lower {
  font-family: ibm plex;
  position: sticky;
  bottom: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 20px;
  color: yellow;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.gallery-caption-lower p {
  font-size: 16px;
}

.gallery-image {
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #00000000;

}

.gallery-item:hover .gallery-image {
  transform: scale(1.1);
}

.gallery-caption {
  font-family: ibm plex;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
  color: yellow;
  text-align: center;
}



.gallery-caption-spec {
  font-family: ibm plex;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
  color: yellow;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.gallery-item:hover .gallery-caption-spec{
  opacity: 1;
}

.simplebutton{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50px;
  max-height: 50px;
}

.back-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: yellow;
  background-color: #ffffff00;
  border: 2px solid yellow;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
