html {
    background-color: rgb(0, 0, 0);
    background-image: url("images/background.png");
    /* background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; */
    font-family: Lucida Console;
  }

  body {
    color: rgb(0, 0, 0);
  }

  h1 {
    position: absolute;
    color: yellow;
    text-align: center;
    transform: translate(275px,-250px);
    padding-right: 15%;
    font-size: 300%;
    word-wrap: break-word;
  }

  h2 {
    position: absolute;
    text-align: center;
    transform: translate(0px,-150px);
    padding-left: 20%;
    padding-bottom: 20%;
    position: right;
    word-wrap: break-word;
  }

  h3 {
    color: yellow;
    transform: translate(0px,650px);
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
  }
  
  p {
    color: yellow;
  }

  a {
    text-decoration: none;
  }
  
  rectangle {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #005050;
    background-image: url("images/background2.png");
    width: 550px;
    height: 15%;
    border: ridge;
    border-color: #008080;
    border-width: 10px;
/*  text-align: center;
    font-size: 20px;
    font-family: Bahnschrift; */
  }

  .rectangle2 {
    position: absolute;
    top: 500px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000000;
    max-width: 500px;
    width: 500px;
    max-height: 250px;
    height: 250px;
    border: ridge;
    border-color: #ffff80;
    border-width: 10px;
    contain: size;
  }
  .rectangle2, fadeH3 {
    transition: opacity 1s ease;
    opacity: 1;
  }
  .fade-out {
    opacity: 0;
  }

  .welcome {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .stop {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 100%;
  }
